
        <div class="col-md-6 my-3">
            <img src="http://via.placeholder.com/600x400.png" class="card-img-top bg bg-dark rounded" alt="...">
            <h2>Project Name</h2>
        </div>
 