<div class="card" style="width: 18rem;">
    <img src="http://via.placeholder.com/600x350.png" class="card-img-top" alt="...">
    <div class="bg bg-primary w-25 rounded text-center text-light m-3">New</div>
    <div class="card-body">
      <h5 class="card-title">Blog post title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p><strong>Kelly Roman</strong></p>
      <p>March 12, 2022 . 6 min read</p>
    </div>
  </div>