<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">FREE</h5>
      <h1 class="card-subtitle mb-2 text-muted">$0<h5 class="text-secondary">/mo</h5></h1>
      <ul>
        <li><strong> 1 users</strong></li>
        <li>5 GB Storage</li>
        <li>Unlimited public projects</li>
        <li>Community access</li>
        <li> Unlimited private projects</li>
        <li>Dedicated support</li>
        <li>Free linked domain</li>
        <li>Monthly status reports</li>
      </ul>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary ">
            Choose plan
          </button>
      </div>
      
    </div>
  </div>